<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <h1>This is a show Page</h1>
      <br/>
      <div class="card">

      </div>
    </div>
  </div>

  <h1>
    <%= campground.name %>
  </h1>

  <p>
    <%= campground.description %>
  </p>

  <img src="<%= campground.image %>" alt="campground">

  <a class="btn btn-primary" href="/campgrounds/<%= campground.id %>/comments/new">Add New Comment</a>

  <%  campground.comments.forEach((comment) => { %>
    <p>
      <strong>
        <%= comment.author  %>
      </strong> -
      <%= comment.text %>
    </p>
  <%  }) %>

<% include ../partials/footer %>