<% include ../partials/header %>

  <div class="container">
    <div class="row">
      <h1>This is a show Page</h1>
      <div class="col-3">
        <p class="lead">side bar</p>
        <br/>
        <div class="list-group">
          <li class="list-group-item active">list 1</li>
          <li class="list-group-item">list 2</li>
          <li class="list-group-item">list 3</li>
        </div>
        <div class="card">

        </div>
      </div>
      <div class="col-9">
        Card
      </div>
    </div>
  </div>

  <h1>
    <%= campground.name %>
  </h1>

  <p>
    <%= campground.description %>
  </p>

  <img src="<%= campground.image %>" alt="campground">

  <%  campground.comments.forEach((comment) => { %>
    <p>
      <strong>
        <%= comment.author  %>
      </strong> -
      <%= comment.text %>
    </p>
    <%  }) %>

      <% include ../partials/footer %>